main {
  padding: 16px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: block;
}

wired-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: block;
}

section {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0;
}

wired-button {
  background: lightblue;
  color: darkcyan;
  margin: 8px;
}

button {
  background: lightblue;
  color: darkcyan;
  margin: 8px;
}
